flows.json
[{"id":"18dfd6e3.da80b9","type":"tab","label":"Project 1.3","disabled":false,"info":""},{"id":"5b1cbbb0.e13574","type":"debug","z":"18dfd6e3.da80b9","name":"","active":true,"tosidebar":true,"console":false,"complete":"response","statusVal":"","statusType":"auto","x":860,"y":40,"wires":[]},{"id":"b70aebe9.dc43a8","type":"watson-tone-analyzer-v3","z":"18dfd6e3.da80b9","name":"","tones":"all","sentences":"false","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/511719f6-61b6-4bf8-91b4-5047a846204e","x":440,"y":120,"wires":[["5b1cbbb0.e13574","a3bc4375.500b8","18457fe0.e1153","438a1f9a.d25f"]]},{"id":"e82adfd8.282b7","type":"debug","z":"18dfd6e3.da80b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":120,"wires":[]},{"id":"a3bc4375.500b8","type":"function","z":"18dfd6e3.da80b9","name":"Tweet Sentiments","func":"\nvar anger=0,disgust=0,fear=0,joy=0,sadness=0; //tones\nvar tone_name=\"\"\nvar d_tone=msg.response.document_tone.tone_categories[0].tones;\n\ntones=d_tone.length\n\nfor(i=0;i<tones;i++)\n{\n    var tone_l=msg.response.document_tone.tone_categories[0].tones[i].length\n    \n    score=tone_name=msg.response.document_tone.tone_categories[0].tones[i].score;\n    \n   // if(score==1)\n    //{//var msg1=\"in\";\n        tone_name=msg.response.document_tone.tone_categories[0].tones[i].tone_name;\n        //joy++;\n   \n        if(tone_name==\"Anger\")\n        {\n            var msg1=\"in\";\n            //tone_name=msg.response.document_tone.tone_categories[0].tones[i].tone_name;\n            anger=score;\n        }\n        else if(tone_name==\"Disgust\")\n        {    \n            //tone_name=msg.response.document_tone.tone_categories[0].tones[i].tone_name;\n            disgust=score;\n        }\n        else if(tone_name==\"Fear\")\n        {    \n            //tone_name=msg.response.document_tone.tone_categories[0].tones[i].tone_name;\n            fear=score;\n        }\n        else if(tone_name==\"Joy\")\n        {   \n            //tone_name=msg.response.document_tone.tone_categories[0].tones[i].tone_name;\n            joy=score;\n        }\n        else if(tone_name==\"Sadness\")\n        {    \n            //tone_name=msg.response.document_tone.tone_categories[0].tones[i].tone_name;\n            sadness=score;\n        }\n    //}\n     \n}\n/*\nmsg.payload=\n        [{\n            \"series\":[\"Emotions\"],\n                    \n            \"data\":[anger, disgust, fear,joy,sadness],\n            \"labels\":[ \"Anger\",\"Disgust\",\"Fear\", \"Joy\",\"Sadness\"]\n           \n        }]\n        \nreturn msg;\n*/\nvar m={};\nm.labels=[\"Anger\",\"Disgust\",\"Fear\", \"Joy\",\"Sadness\"];\nm.data=[[anger, disgust, fear,joy,sadness]];\nm.series=[\"Emotions\"];\n\nfor (var j = 0; j <0; j++) {\n    m.labels.push((msg.payload[j]));\n    m.data[0].push((msg.payload[j]));\n}\nreturn {payload:[m],topic:msg.topic};\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":160,"wires":[["e82adfd8.282b7","5b2cdddf.f25ed4","893f94fe.f79198"]]},{"id":"5405ea3f.d2a0f4","type":"debug","z":"18dfd6e3.da80b9","name":"Emotion Score","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":240,"wires":[]},{"id":"18457fe0.e1153","type":"function","z":"18dfd6e3.da80b9","name":"Dominant Emotion","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories.\nfilter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n \n                \nvar myscore =  0;\nfor (var i=0; i<emotions.length; i++) {\n    if(emotions[i].score > myscore) {\n        msg.payload = emotions[i].score;\n        msg.topic = emotions[i].tone_name;\n        myscore = emotions[i].score;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":200,"wires":[["5405ea3f.d2a0f4","167a5787.5567d8","e05a9867.6656f8"]]},{"id":"96c5d3b5.73fb1","type":"function","z":"18dfd6e3.da80b9","name":"Remove URLS and replace #","func":"\nif (msg.lang === 'en') {\n    var tweet = msg.tweet.text;\n    var newtweet = tweet.replace(/#/g, \" Hash tag \");\n    \n    // regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\n    msg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\n    return msg;\n}\n\nelse {\n  return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":120,"wires":[["b70aebe9.dc43a8","11e36fd1.6dd2c"]]},{"id":"438a1f9a.d25f","type":"ui_text","z":"18dfd6e3.da80b9","group":"936e65a2.d98968","order":4,"width":"9","height":"5","name":"","label":"Username:   {{tweet.user.screen_name}}","format":"{{tweet.text}}","layout":"col-center","x":1110,"y":80,"wires":[]},{"id":"167a5787.5567d8","type":"ui_text","z":"18dfd6e3.da80b9","group":"17192a1f.ff7e26","order":4,"width":0,"height":0,"name":"","label":"Dominant Emotion:","format":"{{msg.topic}}","layout":"row-left","x":1150,"y":200,"wires":[]},{"id":"a2f015ee.5dfdf8","type":"debug","z":"18dfd6e3.da80b9","name":"msg.sentiment.score","active":true,"tosidebar":true,"console":false,"complete":"sentiment.score","statusVal":"","statusType":"auto","x":660,"y":280,"wires":[]},{"id":"5b2cdddf.f25ed4","type":"ui_chart","z":"18dfd6e3.da80b9","name":"Emotions Present in Tweet","group":"17192a1f.ff7e26","order":3,"width":0,"height":0,"label":"","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"NO DATA","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#181a1b","#6a7481","#ff7f0e","#2ca02c","#a7a21b","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1180,"y":160,"wires":[[]]},{"id":"11e36fd1.6dd2c","type":"sentiment","z":"18dfd6e3.da80b9","name":"Sentiment of Tweets","x":360,"y":380,"wires":[["a7392e86.db71e","64f2819b.2346","159e2068.f1cfd","a2f015ee.5dfdf8","a3ee0926.d87b38"]]},{"id":"808a88b3.9d2b28","type":"twitter in","z":"18dfd6e3.da80b9","twitter":"","tags":"COVID-19,#COVID-19,coronavirus ","user":"false","name":"Listen to twitter feed","inputs":1,"x":110,"y":40,"wires":[["9f622b23.e4d548","6901b5df.8cc06c"]]},{"id":"64f2819b.2346","type":"change","z":"18dfd6e3.da80b9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":380,"wires":[["cf095274.811b8","9fc243f.63ba2c"]]},{"id":"a7392e86.db71e","type":"change","z":"18dfd6e3.da80b9","name":"Tweet","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":340,"wires":[["a354d6c1.9adb48"]]},{"id":"a354d6c1.9adb48","type":"ui_text","z":"18dfd6e3.da80b9","d":true,"group":"ee41c48.0dc5538","order":8,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":1110,"y":340,"wires":[]},{"id":"bba1fb7f.dc6048","type":"ui_chart","z":"18dfd6e3.da80b9","name":"Tweet Sentiment History- Positive & Negative","group":"d31b151f.be96b8","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"NO DATA","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#3bc115","#f02828","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1150,"y":460,"wires":[[]]},{"id":"9a3c7d05.f87d5","type":"change","z":"18dfd6e3.da80b9","name":"Positive Tweet Scores","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Positive","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":420,"wires":[["bba1fb7f.dc6048"]]},{"id":"159e2068.f1cfd","type":"switch","z":"18dfd6e3.da80b9","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":440,"wires":[["9a3c7d05.f87d5"],["e0bf1ade.5941a8"]]},{"id":"e0bf1ade.5941a8","type":"change","z":"18dfd6e3.da80b9","name":"Negative Tweet Scores","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Negative","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":460,"wires":[["bba1fb7f.dc6048"]]},{"id":"cf095274.811b8","type":"ui_chart","z":"18dfd6e3.da80b9","name":"Tweet Sentiment History","group":"f2bfa907.a12e28","order":1,"width":8,"height":5,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"NO DATA","dot":false,"ymin":"-10","ymax":"10","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2b9fda","#e91640","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1170,"y":420,"wires":[[]]},{"id":"ffd977a0.de7848","type":"delay","z":"18dfd6e3.da80b9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":40,"wires":[["96c5d3b5.73fb1"]]},{"id":"a3ee0926.d87b38","type":"function","z":"18dfd6e3.da80b9","name":"Store Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":420,"wires":[["935e0aa.fc2a4f8"]]},{"id":"935e0aa.fc2a4f8","type":"cloudant out","z":"18dfd6e3.da80b9","name":"","cloudant":"","database":"covid-19_tweet_sentiment","service":"node-red-byhmd-2020--cloudant-1601471023440-73572","payonly":true,"operation":"insert","x":330,"y":480,"wires":[]},{"id":"f1b9fcb6.d2c6a","type":"switch","z":"18dfd6e3.da80b9","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":460,"y":560,"wires":[["f637761d.7ff578"],["11ad1423.bbe1ec"],["f6fca5e2.ed5cb8"]]},{"id":"f637761d.7ff578","type":"change","z":"18dfd6e3.da80b9","name":"Positive Tweet Scores","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Positive","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":520,"wires":[["6011a8d6.357508"]]},{"id":"f6fca5e2.ed5cb8","type":"change","z":"18dfd6e3.da80b9","name":"Negative Tweet Scores","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Negative","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":600,"wires":[["a58ed446.93eca8"]]},{"id":"11ad1423.bbe1ec","type":"change","z":"18dfd6e3.da80b9","name":"Neutral Tweet Scores","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Neutral","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":560,"wires":[["f3230d60.69d24"]]},{"id":"9c1310f6.e9922","type":"debug","z":"18dfd6e3.da80b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":540,"wires":[]},{"id":"96c87e37.55afb","type":"debug","z":"18dfd6e3.da80b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":620,"wires":[]},{"id":"6011a8d6.357508","type":"function","z":"18dfd6e3.da80b9","name":"","func":"var pos_count=context.get('pos_count') ;\nif (typeof pos_count==\"undefined\")\npos_count=0;\n\npos_count +=1;\n//msg.payload=\"Debug: \"+msg.payload+\" \"+pos_count;\ncontext.set('pos_count',pos_count);\n/*msg.paylod=[{\"series\":[\"Positive\"],\n            \"data\":[pos_count],\n            \"labels\":[\"Positive\"]\n            }];\n*/\nmsg.payload=pos_count;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":520,"wires":[["9c1310f6.e9922","994dc7a0.271dd8"]]},{"id":"e6838220.cddbe","type":"debug","z":"18dfd6e3.da80b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":580,"wires":[]},{"id":"a58ed446.93eca8","type":"function","z":"18dfd6e3.da80b9","name":"","func":"var neg_count=context.get('neg_count') ;\nif (typeof neg_count==\"undefined\")\nneg_count=0;\n\nneg_count +=1;\nmsg.payload=neg_count;//\"Debug: \"+msg.payload+\" \"+neg_count;\ncontext.set('neg_count',neg_count);\n/*\nmsg.paylod=[{\"series\":[\"Negative\"],\n            \"data\":[neg_count],\n            \"labels\":[\"Negaitive\"]\n            }];\n  */          \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":600,"wires":[["96c87e37.55afb","994dc7a0.271dd8"]]},{"id":"f3230d60.69d24","type":"function","z":"18dfd6e3.da80b9","name":"","func":"\nvar n_count=context.get('n_count') ;\nif (typeof n_count==\"undefined\")\nn_count=0;\n\nn_count +=1;\nmsg.payload=n_count;//\"Debug: \"+msg.payload+\" \"+n_count;\ncontext.set('n_count',n_count);\n/*\nmsg.paylod=[{\"series\":[\"Neutral\"],\n            \"data\":[n_count],\n            \"labels\":[\"Neutral\"]\n            }];\n  */          \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":560,"wires":[["e6838220.cddbe","994dc7a0.271dd8"]]},{"id":"994dc7a0.271dd8","type":"ui_chart","z":"18dfd6e3.da80b9","name":"COVID-19 Impact","group":"689f2691.9c0768","order":1,"width":0,"height":0,"label":"","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"NO DATA","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1150,"y":500,"wires":[[]]},{"id":"9fc243f.63ba2c","type":"ui_gauge","z":"18dfd6e3.da80b9","name":"","group":"ee41c48.0dc5538","order":1,"width":8,"height":6,"gtype":"gage","title":"Sentiment","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#f51414","#e6e600","#1cca27"],"seg1":"","seg2":"","x":1120,"y":380,"wires":[]},{"id":"6901b5df.8cc06c","type":"sentiment","z":"18dfd6e3.da80b9","name":"Sentiment of Tweets","property":"payload","x":200,"y":560,"wires":[["f1b9fcb6.d2c6a"]]},{"id":"9e94d2e9.bdf23","type":"join","z":"18dfd6e3.da80b9","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1450,"y":240,"wires":[["9666726a.0bd52"]]},{"id":"9666726a.0bd52","type":"function","z":"18dfd6e3.da80b9","name":"Store Tweet data","func":"// tweet object includes a timestamp_ms\nvar tone=msg.payload.tone;\nvar data= msg.payload.sentiment[0].data;\n\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"dominant_tone\" : tone,\n                \"anger\":data[0],\n                \"disgust\":data[1],\n                \"fear\":data[2],\n                \"joy\":data[3],\n                \"sadness\":data[4]\n};\n//msg.payload=[tone,data];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":300,"wires":[["324baa8c.0d7616","e1b203d2.9f9c1"]]},{"id":"e1b203d2.9f9c1","type":"cloudant out","z":"18dfd6e3.da80b9","name":"","cloudant":"","database":"covid-19_tweet_tone","service":"node-red-byhmd-2020--cloudant-1601471023440-73572","payonly":true,"operation":"insert","x":1480,"y":360,"wires":[]},{"id":"324baa8c.0d7616","type":"debug","z":"18dfd6e3.da80b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1450,"y":400,"wires":[]},{"id":"e05a9867.6656f8","type":"change","z":"18dfd6e3.da80b9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"tone","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":240,"wires":[["9e94d2e9.bdf23"]]},{"id":"9f622b23.e4d548","type":"ui_switch","z":"18dfd6e3.da80b9","name":"","label":"Twitter Feed: Enable / Disable","tooltip":"","group":"936e65a2.d98968","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":40,"wires":[["ffd977a0.de7848"]]},{"id":"893f94fe.f79198","type":"change","z":"18dfd6e3.da80b9","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sentiment","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":160,"wires":[["9e94d2e9.bdf23"]]},{"id":"936e65a2.d98968","type":"ui_group","z":"","name":"Tweet","tab":"faaee7f5.bb6df8","order":1,"disp":true,"width":9,"collapse":false},{"id":"17192a1f.ff7e26","type":"ui_group","z":"","name":"Sentiment Analysis : Emotions Present in Tweet","tab":"faaee7f5.bb6df8","order":3,"disp":true,"width":"9","collapse":false},{"id":"ee41c48.0dc5538","type":"ui_group","z":"","name":"Positive-Negative Scale","tab":"faaee7f5.bb6df8","order":4,"disp":true,"width":9,"collapse":false},{"id":"d31b151f.be96b8","type":"ui_group","z":"","name":"Tweet Sentiment History- Positive & Negative","tab":"faaee7f5.bb6df8","order":6,"disp":true,"width":9,"collapse":false},{"id":"f2bfa907.a12e28","type":"ui_group","z":"","name":"Tweet Sentiment History","tab":"faaee7f5.bb6df8","order":7,"disp":true,"width":9,"collapse":false},{"id":"689f2691.9c0768","type":"ui_group","z":"","name":"COVID-19 Impact","tab":"faaee7f5.bb6df8","order":8,"disp":true,"width":"9","collapse":false},{"id":"faaee7f5.bb6df8","type":"ui_tab","z":"","name":"Twitter Sentiment Analysis: COVID-19","icon":"dashboard","disabled":false,"hidden":false}]